{% extends 'main_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


<script>
    $( document ).ready(function() {
      $( "button" ).on( "click", function() {
        var s1 = $( "#s1" ).val()
        var s2 = $( "#s2" ).val()
        var s3 = $( "#s3" ).val()
        var s4 = $( "#s4" ).val()
        var s5 = $( "#s5" ).val()
        var s6 = $( "#s6" ).val()
        var s7 = $( "#s7" ).val()
        var s8 = $( "#s8" ).val()
        var s9 = $( "#s9" ).val()
        var s10 = $( "#s10" ).val()
        var s11 = $( "#s11" ).val()
        var s12 = $( "#s12" ).val()
        var s13 = $( "#s13" ).val()
        var s14 = $( "#s14" ).val()
        var s15 = $( "#s15" ).val()
        var s16 = $( "#s16" ).val()
        var s17 = $( "#s17" ).val()
        var s18 = $( "#s18" ).val() 
        document.getElementById("array-holder").innerHTML = [s1,s2,s3,s4,s5,s6,s7,s8 ,s9,s10,s11,s12,s13,s14,s15,s16,s17,s18];
        var scores = document.getElementById("array-holder").innerHTML
        var error_message = document.getElementById("error-message")
        var success_message = document.getElementById("success-message")
        if (scores.includes('Entry')) {
          error_message.style.display = "block"
        } else {
          error_message.style.display = "none"
          console.log(scores)
          jQuery.ajax({
                      type: "POST",
                      url: 'send_calibration/',
                      data: { 'scores'  : scores,
                              'csrfmiddlewaretoken': '{{csrf_token}}' },
                      success: function(data){
                          var data = data;
                          console.log(data);
                          success_message.style.display = "block";
                      }
          })
        };
        });
        return False
      });
</script>


<br>
<h2 id = "positions_anchor">Resources: Calibrating Your Opinion</h2>
<br>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<hr>
<!-- v Matúš Bero
Źilina v Trencin 08/03/2016 -->

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{% static '/images/bero1.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Matúš Bero</h3>
        <p class="card-text">Źilina v <b>Trencin</b><br>
         08/03/2016</p>

        <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
        and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
      the next 24-36 months</p>
    </div>
    <div class="card-footer">
      <!-- Add scoring form -->
      <p></p>
      <b>Performance Score</b>
      <select class="browser-default custom-select" id="s1">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>


      <p></p>
      <b>Potential Score</b>
      <select class="browser-default custom-select" id="s2">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>
      <p></p>

      <b>Value Score</b>
      <select class="browser-default custom-select" id="s3">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>

      <br>
      <p></p>
      <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
      <p></p>
      <!-- end of scoring form  -->

      </div><!-- end of card body -->


    </div>

    <div class="card">
      <img class="card-img-top" src="{% static '/images/jasper1.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Jesper Karlsson</h3>
        <p class="card-text">Hammarby v <b>Falkenberg</b><br>
         17/07/2016</p>

        <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
        and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
      the next 24-36 months</p>
    </div>
    <div class="card-footer">
      <!-- Add scoring form -->
      <p></p>
      <b>Performance Score</b>
      <select class="browser-default custom-select" id="s4">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>

      <p></p>
      <b>Potential Score</b>
      <select class="browser-default custom-select" id="s5">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>
      <p></p>

      <b>Value Score</b>
      <select class="browser-default custom-select" id="s6">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>

      <br>
      <p></p>
      <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
      <p></p>
      <!-- end of scoring form  -->


      </div>

    </div>

    <div class="card">
      <img class="card-img-top" src="{% static '/images/andersson1.jpg' %}" alt="Card image cap">
      <div class="card-body">

        <h3 class="card-title">Adam Andersson</h3>
        <p class="card-text"><b>BK Häcken</b> v ?<br>
         ??/??/????</p>

        <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
        and talent development processes.</p>

      <!-- Add scoring form -->
      </div>
      <div class="card-footer">


      <p></p>
      <b>Performance Score</b>
      <select class="browser-default custom-select" id="s7">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>


      <p></p>
      <b>Potential Score</b>
      <select class="browser-default custom-select" id="s8">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>
      <p></p>

      <b>Value Score</b>
      <select class="browser-default custom-select" id="s9">
      <option selected>Entry your score...</option>
      <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
      <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
      <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
      <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
      <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
      <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
      <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
      <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
      <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
      <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
      </select>

      <br>
      <p></p>
      <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
      <p></p>
      <!-- end of scoring form  -->


      </div>

    </div>

    </div>



      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="{% static '/images/tolboll1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Oliver Rimmen Tolboll</h3>
            <p class="card-text">Źilina v <b>Trencin</b><br>
             08/03/2016</p>

            <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
            and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
          the next 24-36 months</p>

                <!-- Add scoring form -->
                </div>
                <div class="card-footer">


                <p></p>
                <b>Performance Score</b>
                <select class="browser-default custom-select" id="s10">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>


                <p></p>
                <b>Potential Score</b>
                <select class="browser-default custom-select" id="s11">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>
                <p></p>

                <b>Value Score</b>
                <select class="browser-default custom-select" id="s12">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>

                <br>
                <p></p>
                <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
                <p></p>
                <!-- end of scoring form  -->

          </div>


        </div>

        <div class="card">
          <img class="card-img-top" src="{% static '/images/bredhal1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Andreas Bredhal</h3>
            <p class="card-text">Hammarby v <b>Falkenberg</b><br>
             17/07/2016</p>

            <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
            and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
          the next 24-36 months</p>


                <!-- Add scoring form -->
                </div>
                <div class="card-footer">


                <p></p>
                <b>Performance Score</b>
                <select class="browser-default custom-select" id="s13">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>


                <p></p>
                <b>Potential Score</b>
                <select class="browser-default custom-select" id="s14">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>
                <p></p>

                <b>Value Score</b>
                <select class="browser-default custom-select" id="s15">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>

                <br>
                <p></p>
                <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
                <p></p>
                <!-- end of scoring form  -->
          </div>

        </div>

        <div class="card">
          <img class="card-img-top" src="{% static '/images/dio1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Mohamed Diomande</h3>
            <p class="card-text"><b>FC Nordsjælland</b> v CSKA Moskva<br>
             05/02/2020</p>

            <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
            and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
          the next 24-36 months</p>

                <!-- Add scoring form -->
                </div>
                <div class="card-footer">


                <p></p>
                <b>Performance Score</b>
                <select class="browser-default custom-select" id="s16">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>


                <p></p>
                <b>Potential Score</b>
                <select class="browser-default custom-select" id="s17">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>
                <p></p>

                <b>Value Score</b>
                <select class="browser-default custom-select" id="s18">
                <option selected>Entry your score...</option>
                <option value="10">10 &nbsp;- &nbsp;World Class Talent</option>
                <option value="9">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</option>
                <option value="8">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</option>
                <option value="7">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</option>
                <option value="6">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</option>
                <option value="5">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</option>
                <option value="4">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</option>
                <option value="3">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</option>
                <option value="2">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</option>
                <option value="1">&nbsp;1 &nbsp;- &nbsp;Amateur Career</option>
                </select>

                <br>
                <p></p>
                <!--<button type="button" class="btn btn-outline-danger">Submit</button>-->
                <p></p>
                <!-- end of scoring form  -->

              </div>





          </div>

        </div> <!-- ## end of card group -->



        <br>
        <div class="card">
          <div class="card-header">
            <b>Completed all of your calibrating assessments?</b>
          </div>
          <div class="card-body">
            <p class="card-title">Once you have submited all of your scores... </p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-danger">Submit All Scores for Calibration</button>
            <p id="array-holder" style="display:none;"></p>
            <br/>
            <br/>
            <div style="background:#C9000A; display:none;" id="error-message">
              <p style="color:white;">You must select a score for every player</p>
            </div>
            <div style="background:#83de9b; display:none;" id="success-message">
              <p style="color:white;">Calibration Submitted Successfully</p>
            </div>
          </div>
        </div>

<br><br>

<div class="container">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
  {% endblock %}
</div>
