{% extends 'main_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<br>
<h2 id = "positions_anchor">Resources: Critical Questions</h2>
<br>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<hr>
<!-- start of card group - positions 1 -->

<div class="card-group">

<!-- start of card 1 -->
  <div class="card">
    <img class="card-img-top" src="{% static '/images/GK1.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Goalkeeper</h4>

      <div class="card-header">
        Athletic
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Physical tools needed to compete in Superliga?</li>
        <li class="list-group-item">An obvious presence</li>
      </ul>

      <div class="card-header">
        Character
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Command and comfort in his 18 yard area?</li>
        <li class="list-group-item">Bravery, Confidence in 1v1 situations?</li>
        <li class="list-group-item">Response to his own mistakes?</li>
      </ul>

      <div class="card-header">
        Tactical
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Positioning in the opposition setup phase?</li>
        <li class="list-group-item">Keen sense of transition posibilities?</li>
      </ul>


      <div class="card-header">
        Technical
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Building up attacks from the back?</li>
        <li class="list-group-item">Playing with accuracy behind the first line of pressure?</li>
        <li class="list-group-item">Technique + Confidence to distribute quickly on transitions?</li>
        <li class="list-group-item">Stop stopping ability?</li>
      </ul>
      </div>
    <div class="card-footer">
      <small class="text-muted"> </small>
    </div>

  </div><!-- end of card 1 -->

  <!-- start of card 2 -->
    <div class="card">
      <img class="card-img-top" src="{% static '/images/FB1.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Full-Backs / Wing-Backs</h4>

        <div class="card-header">
          Athletic
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Speed and agility to impact on transitions?</li>
          <li class="list-group-item">Strength and power to compete defensively</li>
        </ul>

        <div class="card-header">
          Character
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Confidence and willingness in offensive situations?</li>
          <li class="list-group-item">Desire and determination in defensive situations?</li>
          <li class="list-group-item">Response to his own mistakes?</li>
        </ul>

        <div class="card-header">
          Tactical
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ability to time forward runs, under/over/half-space?</li>
          <li class="list-group-item">Relational positioning with others across defensive line?</li>
          <li class="list-group-item">Contributions to wide overloads</li>
        </ul>


        <div class="card-header">
          Technical
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ability to receive under pressure?</li>
          <li class="list-group-item">Vision to play into advanced areas to the 8,9 & 10?</li>
          <li class="list-group-item">Ability to drive forward on first touch?</li>
          <li class="list-group-item">Quality of passing foot?</li>
        </ul>
        </div>
      <div class="card-footer">
        <small class="text-muted"> </small>
      </div>

    </div><!-- end of card 2 -->

    <!-- start of card 3 -->
      <div class="card">
        <img class="card-img-top" src="{% static '/images/CB1.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Central Defender</h4>

          <div class="card-header">
            Athletic
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ability to physically dominate his opposition?</li>
            <li class="list-group-item">Speed and agility to deal with modern game?</li>
          </ul>

          <div class="card-header">
            Character
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Confidence to play from the back against a well organised press?</li>
            <li class="list-group-item">Aggressive and assertive but with control?</li>
          </ul>

          <div class="card-header">
            Tactical
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Positional sense (to deal with in-the-hole and runners)?</li>
            <li class="list-group-item">Relational positioning with other CB and FB?</li>
          </ul>


          <div class="card-header">
            Technical
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ability on the ball to pass into advanced areas and deal with high pressure?</li>
            <li class="list-group-item">Speed of play</li>
            <li class="list-group-item">1v1 defending ability, central and wide?</li>
          </ul>
            </div>
        <div class="card-footer">
          <small class="text-muted"> </small>
        </div>

      </div><!-- end of card 3 -->

  </div> <!-- end of card group - positions 1 xxxxxxxxxxxxx -->



  <!-- start of card group - positions 2 -->

  <div class="card-group">

  <!-- start of card 1 -->
    <div class="card">
      <img class="card-img-top" src="{% static '/images/kudus1.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">General Midfielder</h4>

        <div class="card-header">
          Athletic
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Speed of multi-directional coverage?</li>
          <li class="list-group-item">Endurance and strength to compete in the midfield battle?/li>
        </ul>

        <div class="card-header">
          Character
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Confidence to set our style of play and good response to making mistakes and/or being high pressed?</li>
          <li class="list-group-item">Confidence (either inward or outward) to be the key player during crucial parts of the game and play?</li>
          <li class="list-group-item">Enjoys the midfield battle and shows bravery on and off the ball</li>
        </ul>

        <div class="card-header">
          Tactical
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Good implementation of game-plan, sets tempo and controls progression of possession?</li>
          <li class="list-group-item">Understanding of his role within providing the midfield the balance, especially during transitions</li>
        </ul>


        <div class="card-header">
          Technical
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">High comfort on the ball, ability to break the lines with skill?</li>
          <li class="list-group-item">Minimal technical errors within his passing game, ability to play longer with quality?</li>
          <li class="list-group-item">Midfield combinations to break lines?</li>
        </ul>

</div>

      <div class="card-footer">
        <small class="text-muted"> </small>
      </div>

    </div><!-- end of card 1 -->

    <!-- start of card 2 -->
      <div class="card">
        <img class="card-img-top" src="{% static '/images/dams1.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Number 10 / False 9</h4>

          <div class="card-header">
            Athletic
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Agility and Co-ordination to play intricately in tight space?</li>
            <li class="list-group-item">Stamina and endurance to be a key part of a high pressing game?</li>
            <li class="list-group-item">Strength to Protect Possession?</li>
          </ul>

          <div class="card-header">
            Character
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Confidence (either inward or outward) to be the key player during crucial parts of the game and play?</li>
            <li class="list-group-item">Match mentality, allowing quick engagement in the press?</li>
          </ul>

          <div class="card-header">
            Tactical
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Good interpretation of space and shows flexibility based on the game and opposition?</li>
            <li class="list-group-item">Combination play with ST, MC and WG - good implementation of play?</li>
            <li class="list-group-item">Understanding and implementation of press (according to team instructions)?</li>
          </ul>


          <div class="card-header">
            Technical
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">High comfort on the ball, ability to beat his opposition both inside and out?</li>
            <li class="list-group-item">Ability to see and then execute high-risk passes in the creation of high-probability chances?</li>
            <li class="list-group-item">His personal threat on goal?</li>
          </ul>


          </div>

        <div class="card-footer">
          <small class="text-muted"> </small>
        </div>

      </div><!-- end of card 2 -->

      <!-- start of card 3 -->
        <div class="card">
          <img class="card-img-top" src="{% static '/images/WG1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Forward / Wide Forward</h4>

            <div class="card-header">
              Athletic
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Agility and Co-ordination to play intricately in tight space?</li>
              <li class="list-group-item">Acceleration and speed to pose a threat behind a high defensive line?</li>
              <li class="list-group-item">Stamina and endurance to be a key part of a high pressing game?</li>
              </ul>


            <div class="card-header">
              Character
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Confidence (either inward or outward) to be the key player during crucial parts of the game and play?</li>
              <li class="list-group-item">Match mentality, allowing quick engagement in the press?</li>
            </ul>

            <div class="card-header">
              Tactical
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Good interpretation of space and shows flexibility based on the game and opposition?</li>
              <li class="list-group-item">Combination play with ST, MC and WG - good implementation of play?</li>
              <li class="list-group-item">Understanding and implementation of press (according to team instructions)?</li>
            </ul>


            <div class="card-header">
              Technical
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">High comfort on the ball, ability to beat his opposition both inside and out?</li>
              <li class="list-group-item">Ability to see and then execute high-risk passes in the creation of high-probability chances?</li>
              <li class="list-group-item">Ability to create high-probability chances for others (crosses or cut-backs)</li>
              <li class="list-group-item">Finsihing ability when in our prefered shooting zones</li>
            </ul>

            </div>

          <div class="card-footer">
            <!-- <small class="text-muted"> </small> -->
          </div>

        </div><!-- end of card 3 -->

    </div> <!-- end of card group - positions 2-->
<br><br>

<div class="container">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
  {% endblock %}
</div>
