{% extends 'main_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<br>
<h2 id = "positions_anchor">Resources: The Scoring System</h2>
<br>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<hr>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static '/images/kudus1.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Performance Score</h4>
      <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
      and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
    the next 24-36 months</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="color:black;background-color:#2B643D">10 &nbsp;- &nbsp;World Class Talent</li>
      <li class="list-group-item" style="color:black;background-color:#479758">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</li>
      <li class="list-group-item" style="color:black;background-color:#7BBB6E">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#B2D779">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</li>
      <li class="list-group-item" style="color:black;background-color:#DEEE97">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</li>
      <li class="list-group-item" style="color:black;background-color:#F8E093">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</li>
      <li class="list-group-item" style="color:black;background-color:#F2B16D">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#E47251">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</li>
      <li class="list-group-item" style="color:black;background-color:#C3412F">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</li>
      <li class="list-group-item" style="color:black;background-color:#97262B">&nbsp;1 &nbsp;- &nbsp;Amateur Career</li>
 </ul>
    <div class="card-footer">
      <small class="text-muted"> </small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{% static '/images/dams1.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Potential Score</h4>
      <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
      and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
    the next 24-36 months</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="color:black;background-color:#2B643D">10 &nbsp;- &nbsp;World Class Talent</li>
      <li class="list-group-item" style="color:black;background-color:#479758">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</li>
      <li class="list-group-item" style="color:black;background-color:#7BBB6E">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#B2D779">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</li>
      <li class="list-group-item" style="color:black;background-color:#DEEE97">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</li>
      <li class="list-group-item" style="color:black;background-color:#F8E093">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</li>
      <li class="list-group-item" style="color:black;background-color:#F2B16D">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#E47251">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</li>
      <li class="list-group-item" style="color:black;background-color:#C3412F">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</li>
      <li class="list-group-item" style="color:black;background-color:#97262B">&nbsp;1 &nbsp;- &nbsp;Amateur Career</li>
 </ul>
    <div class="card-footer">
      <small class="text-muted"> </small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{% static '/images/andy1.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Value Score</h4>
      <p class="card-text">Predicting the career path of a player is difficult! Yet this is a vital part of our scouting
      and talent development processes. Tap into your intuition and try and predict what level the player will be playing in within
    the next 24-36 months</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="color:black;background-color:#2B643D">10 &nbsp;- &nbsp;World Class Talent</li>
      <li class="list-group-item" style="color:black;background-color:#479758">&nbsp;9 &nbsp;- &nbsp;Big 5 Starter</li>
      <li class="list-group-item" style="color:black;background-color:#7BBB6E">&nbsp;8 &nbsp;- &nbsp;Big 5 Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#B2D779">&nbsp;7 &nbsp;- &nbsp;Bel / Hol / Port</li>
      <li class="list-group-item" style="color:black;background-color:#DEEE97">&nbsp;6 &nbsp;- &nbsp;DK Superliga Key Player</li>
      <li class="list-group-item" style="color:black;background-color:#F8E093">&nbsp;5 &nbsp;- &nbsp;DK Superliga Starter</li>
      <li class="list-group-item" style="color:black;background-color:#F2B16D">&nbsp;4 &nbsp;- &nbsp;DK Superliga Squad Player</li>
      <li class="list-group-item" style="color:black;background-color:#E47251">&nbsp;3 &nbsp;- &nbsp;2nd Tier Scandinavia</li>
      <li class="list-group-item" style="color:black;background-color:#C3412F">&nbsp;2 &nbsp;- &nbsp;Unlikely to Play Pro.</li>
      <li class="list-group-item" style="color:black;background-color:#97262B">&nbsp;1 &nbsp;- &nbsp;Amateur Career</li>
 </ul>
    <div class="card-footer">
      <small class="text-muted"> </small>
    </div>
  </div>

  </div>

<br><br>

<div class="container">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
  {% endblock %}
</div>
