{% extends 'main_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

{% if contexts.success == True %}
<div style="background:#83de9b;">
<p style="color:white;font-weight:bold;font-size:30px;padding-left:5%;">Report Successfully Submitted</p>
</div>
{% elif contexts.report_exists == True %}
<div style="background:#e9bd5f;">
    <p style="color:white;font-weight:bold;font-size:30px;padding-left:5%;">You have already submitted a report for this match</p>
    </div>
    
{% endif %}
<br>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <img src="../../static/{{ contexts.avi }}" class="rounded-circle mx-auto d-block" style = "border:2px solid #140000">
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">



    <h1 style="color:#C9000A">{{ contexts.players }}</h1>

    <h3>Football Club</h3>
    {{ contexts.positions }} <br>
    {{ contexts.nationalities }} <br>
    {{ contexts.ages }} yrs
    <h5>€ {{ contexts.market_values }}</h5>
  </div>
  <div class="col-md-3"></div>
</div>
<br>


<div class="card-group">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Your Reports</h5>
      <h1 class="card-text text-center" style="color:#C9000A">1</h1>
      <p class="card-text text-center">The player has <b>nn</b> reports from other scouts</p>
    </div>
    <!-- <div class="card-footer">
      <small class="text-muted"></small>
    </div> -->
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Performance Score</h5>
      <h1 class="card-text text-center" style="color:#C9000A">8.3</h1>
      <p class="card-text text-center">The average score from other scouts is <b>nn</b></p>
    </div>
    <!-- <div class="card-footer"> -->
      <!-- <small class="text-muted"></small> -->
    <!-- </div> -->
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Potential Score</h5>
      <h1 class="card-text text-center" style="color:#C9000A">9.2</h1>
      <p class="card-text text-center">The average score from other scouts is <b>nn</b></p>
    </div>
    <!-- <div class="card-footer"> -->
      <!-- <small class="text-muted"></small> -->
    <!-- </div> -->
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Value Score</h5>
      <h1 class="card-text text-center" style="color:#C9000A">6.7</h1>
      <p class="card-text text-center">The average score from other scouts is <b>nn</b></p>
    </div>
    <!-- <div class="card-footer"> -->
      <!-- <small class="text-muted"></small> -->
    <!-- </div> -->
  </div>

</div> <!-- end of report card group -->

<!-- report card start  -->
<div class="card">
  <div class="card-body">
<h1 style="color:#C9000A">Add your report:</h1>
<form action="" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <table>
      <br>
      <div><b>Opponent</b>{% render_field contexts.form.opponent class+="form-control" placeholder+="add the opponent" %}</div>
      <br>
      <div><b>Date</b>{% render_field contexts.form.date class+="form-control" placeholder+="YYYY-MM-DD" %}</div>
      {% for error in contexts.form.date.errors %}
         <p class="text-danger">{{error}}</p>
      {% endfor %}
      <br>
      <div><b>Report</b>{% render_field contexts.form.report class+="form-control"%}</div>
        <br>
        <div><b>Performance Score</b>{% render_field contexts.form.performance_score class+="browser-default custom-select"%}</div>
        <br>
        <div><b>Potential Score</b>{% render_field contexts.form.potential_score class+="browser-default custom-select"%}</div>
        <br>
        <div><b>Value Score</b>{% render_field contexts.form.value_score class+="browser-default custom-select"%}</div>
    </table>
    <br>
    <input type="submit" class="btn btn-success submit-report" value="Submit Report">
  </form>
</div></div> <!-- end of report card -->



<div class="container">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}
  {% endblock %}
</div>




<script>
    // jQuery(document).ready( function () {
    //   jQuery("#submit-report").on("click", function() {
    //     console.log("button clicked");
    //     var player = "{{ contexts.players }}";
    //     var username = "{{user.username}}";
    //     var performance = document.getElementById("#performance-score");
    //     var potential = document.getElementById("#potential-score");
    //     var value_score = document.getElementById("#value-score");
    //     var match_date = document.getElementById("#exampleFormControlInput23");
    //     var opp = document.getElementById("#exampleFormControlInput2");
    //     var report = document.getElementById("#exampleFormControlTextarea1");
    //     jQuery.ajax({
    //             type: "POST",
    //             url: 'post_report/{{user.username}}/',
    //             data: { 'username' : "{{user.username}}",
    //                     'player'  : player,
    //                     'csrfmiddlewaretoken': '{{csrf_token}}' },
    //             success: function(data){
    //                 var data = data;
    //                 console.log(data);

    //             }
    //         });
    //     })
    //   });

          </script>
